.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center;
  align-items: center;
}

form {
  display: table;
  clear: both;
  width: 100%;
}

.form__wrapper {
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 369px;
}

.first__column__wrapper {
  float: left;
  display: grid;
  margin: 32px 0 0 16px;
}

.second__column__wrapper {
  float: left;
  display: grid;
  padding: 32px 16px 0 8px;
}

.password__wrapper {
  display: grid;
}

input {
  height: 52px;
  width: 276px;
  margin: 10px 0;
  padding: 0 10px;
  border: 2px solid #000;
}

button {
  height: 52px;
  width: 276px;
  border: 2px solid #000;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  font-size: larger;
}

.validation__list {
  list-style: none;
  padding: 13px 0 32px 0;
  align-items: center;
}

.validation__list div {
  list-style: none;
  align-items: center;
  display: flex;
}

* {
  box-sizing: border-box;
}
